<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.pure.ffmpeg">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<application android:label="ffmpeg"></application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>